.A{
    background-color: red;
    height: 10PX;
    width: 10PX;
}

img{
    width: 30px;
    height: 30px;
}
#exo3{
    background-color:lightgray;
    margin-left:2%;
    text-align: left;
}
#Div1{
  background-color: darkgoldenrod;
  height: 100px;
  width: 90%;
}

#Div2{
  background-color: darkgoldenrod;
  height: 100px;
  width: 90%;
}
#first{
  background-color: darkorange;
  text-align: center;
  width: 70px;
  height: 70px;
}
#second{
  background-color: darkorange;
  margin-right: 30%;
  width: 70px;
  height: 70px;
}
#Button1{
  width: 9%;
  margin-right: 5%;
  background-color: yellow;

}
#Button2{
  width: 10%;
  margin-right: 5%;
  background-color: green;
  
}

